<!--IMU ROS 驱动-->
<launch>
	<!--IMU 型号，默认 normal
		设备类型如果是 Modbus 协议的就填 modbus
		使用 WIT 标准协议的填 normal
		如果是 Modbus 高精度协议的填 hmodbus
		如果是 CAN 协议的就填 can
		如果是 CAN 高精度协议的填 hcan
		设备号 /dev/ttyUSB0（脚本默认用的 /dev/ttyUSB0）为你电脑识别出来的数字
		波特率根据实际使用设定，JY6x 系列模块默认波特率为 115200，CAN 模块为 230400，其他模块为 9600
		如果用户通过上位机修改了波特率，需要对应修改成修改后的波特率 
	-->
	
	<!--IMU model, default normal
		If the device type is modbus protocol, fill in modbus
		If the device type is wit standard protocol, fill in normal
		If the device type is MODBUS high-precision protocol, fill in hmodbus
		If the device type is CAN protocol, fill in can
		If the device type is CAN high-precision protocol, fill in hcan
		The device number/dev/ttyUSB0 (the default script uses/dev/ttyUSB0) is the number recognized by your computer
		The baud rate is set according to actual usage. The default baud rate for JY6x series modules is 115200, CAN modules are 230400, and other modules are 9600
		If the user modifies the baud rate through the upper computer, it needs to be correspondingly modified to the modified baud rate 
	-->
	
    <arg name="type" default="normal" doc="type [normal, modbus, hmodbus, can, hcan]"/>

    <!-- IMU 对应 Python 文件 -->
    <node pkg="ros_imu_wit" type="wit_$(arg type)_ros.py" name="imu" output="screen">
        <param name="port"               type = "str"    value="/dev/imu_usb"/>
        <param name="baud"               type = "int"    value="115200"/>
    </node>

	<!--
    <node pkg="ros_imu_wit" type="get_imu_rpy.py" name="get_imu" output="screen">
    </node>
	-->
</launch>

